* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  text-decoration: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ripple-link {
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#0162c8), to(#55e7fc));
  background: -o-linear-gradient(left, #0162c8, #55e7fc);
  background: linear-gradient(90deg, #0162c8, #55e7fc);
}

.ripple-effect {
  position: absolute;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  -webkit-animation: animate 0.5s linear;
          animation: animate 0.5s linear;
}

@-webkit-keyframes animate {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }
}
.background-hover {
  /* RESET */
  text-decoration: none;
  line-height: 1;
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 5px 5px;
  overflow: hidden;
  color: #333;
  vertical-align: bottom;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.background-hover::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transform: translateY(calc(100% - 2px));
      -ms-transform: translateY(calc(100% - 2px));
          transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-image: -o-linear-gradient(30deg, #64b3f4 0%, #c2e59c 100%);
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.background-hover:hover {
  color: #fff;
}

.background-hover:hover::before {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.about__title, .popular-flags__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.about__description, .intro__description {
  font-size: 26px;
  line-height: 145%;
  margin-top: 53px;
}

.footer__logo, .header .nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e2e2e2;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 700;
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
}

.link-wrapper {
  position: relative;
  display: block;
  padding: 20px 0;
}

.inner-wrapper {
  position: relative;
  display: inline-block;
}

/* hover styles */
.wrapper-15:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #3f5efb;
  background: -o-radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.wrapper-15:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: #3f5efb;
  background: -o-radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.wrapper-15 .hover-15 {
  padding: 10px;
  color: #ffffff;
}
.wrapper-15 .hover-15:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #3f5efb;
  background: -o-radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.wrapper-15 .hover-15:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: #3f5efb;
  background: -o-radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.wrapper-15:hover:before, .wrapper-15:hover:after {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}
.wrapper-15:hover .hover-15:before, .wrapper-15:hover .hover-15:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, Arial, sans-serif;
  overflow-x: hidden;
}

#main-page {
  background-color: #FBFAF8;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.header {
  position: absolute;
}
.header .nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  background-color: #22AAA1;
  -webkit-box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.25);
}
.header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}
.header .nav-list__link {
  color: #e2e2e2;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.header .burger {
  display: none;
}
.header .burger div {
  width: 25px;
  height: 3px;
  background-color: #e2e2e2;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 848px) {
  .header .nav-list {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 79px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    background-color: #22AAA1;
    border-left: 1px solid #004642;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .header .nav-list__item {
    opacity: 0;
  }
  .header .burger {
    display: block;
    cursor: pointer;
  }
}
.header .nav-active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
      -ms-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
      -ms-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.intro .container {
  margin-top: 245px;
}
.intro__title {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
.popular-flags {
  margin-top: 120px;
  padding: 60px 0;
  background-color: #22AAA1;
}
.popular-flags .container {
  width: 89%;
}
.popular-flags__title {
  color: #ffffff;
}
.popular-flags__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popular-flags__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 76px 45px 45px 0;
  width: 329px;
  height: 215px;
  background-color: #F1F1F1;
  border-radius: 8px;
}
.popular-flags__item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.popular-flags__item-img {
  margin: 13px 11px 0 11px;
  border-radius: 8px;
}

.about__title {
  margin-top: 253px;
}
.about__description {
  margin-bottom: 100px;
}

.footer {
  padding-top: 10px;
  background-color: #22AAA1;
  color: #ffffff;
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}
.footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
}
.footer .logo-link {
  width: 220px;
}
.footer__copyright {
  margin-top: 30px;
  height: 40px;
  font-size: 22px;
}
.footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  color: black;
}
.footer .social-media__link {
  color: black;
  margin-bottom: 20px;
}
.footer .social-media .social-media__button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.footer .social-media .social-media__button:hover {
  width: 180px;
}
.footer .social-media .social-media__button .social-media__icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 60px;
  color: black;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.footer .social-media .social-media__button:nth-child(1):hover .social-media__icon {
  background-color: #4267B2;
}
.footer .social-media .social-media__button:nth-child(2):hover .social-media__icon {
  background-color: #333;
}
.footer .social-media .social-media__button:nth-child(3):hover .social-media__icon {
  background-color: #0088cc;
}
.footer .social-media .social-media__button .social-media__icon i {
  font-size: 25px;
  line-height: 60px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.footer .social-media .social-media__button:hover .social-media__icon i {
  color: #fff;
}
.footer .social-media .social-media__button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.footer .social-media .social-media__button:nth-child(1) span {
  color: #4267B2;
}
.footer .social-media .social-media__button:nth-child(2) span {
  color: #333;
}
.footer .social-media .social-media__button:nth-child(3) span {
  color: #0088cc;
}
.footer__developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 22px;
}

@media screen and (max-width: 620px) {
  .footer__container {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
    -ms-grid-rows: 115px 75px 1fr 1fr;
    grid-template-rows: 115px 75px 1fr 1fr;
  }
  .footer__container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer__container > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .footer__container > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .footer__container > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .footer .social-media {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .footer__copyright {
    margin-top: 25px;
  }
  .footer__developer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (max-width: 411px) {
  .footer .social-media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
  }
  .footer__developer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */