.quize-page {
    background-color: $quizeBackground;

    &__wrapper {
        display: flex;
        justify-content: center;
    }
}

.start {
    width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

    &__btn {
        width: 136px;
	    height: 50px;
    }
}

.quize {
    display: none;

    .container {
        width: 100%;
    }

    &__progressbar {
        position: absolute;
        top: 0;
        padding: 2px;
        width: 100%;
        height: 10px;
        background-color: $white;
        border-radius: 12px;
        border: 1px solid black;
    }

    &__progrssbar-fill {
        width: 50%;
        height: 100%;
        border-radius: 12px;
        background-color: $quizeGreen;
    }

    &__flag {
	    position: relative;
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 642px;
        height: 288px;
        background-color: $white;
        border-radius: 12px;
    }

    &__flag-img {
        width: 402px;
        height: 211px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/dist/flags/USA.svg");
        border-radius: 8px;
    }

    &__flag-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }

    &__lifes {
    }

    &__time {
        font-size: 24px;
        line-height: 28px;
        color: $white;
    }

    &__time-field {
    }

    &__tip {
        cursor: pointer;
    }

    &__next-question {
        grid-column: 2;
        margin-left: auto;
        cursor: pointer;
    }
}
.answers {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 60px 1fr 1fr 1fr;
	gap: 20px;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: $white;
        font-size: 32px;
        line-height: 37px;
        width: 310px;
        height: 74px;
        background-color: $quizeOrange;
        border-radius: 8px;
        transition: .4s;
        cursor: pointer;
    }

    &__item:hover {
        background-color: $quizeOrangeHover;
    }

    .asd {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.answers-items {
}
