@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.fade {
    animation: fade 2s ease;
}

.quize-page {
    background-color: $quizeBackground;

    &__wrapper {
        display: flex;
        justify-content: center;
    }
}

.start-page {
    width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

    &__inner {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__btn {
        width: 200px;
        height: 70px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        background-color: #ec0303;
        border-radius: 12px;
        transition: .4s;
    }

    &__btn:hover {
        box-shadow: 1px 1px 5px 1px #000;
        text-shadow: 1px 1px black;
        transform: scale(1.05);
    }

    &__description {
        font-size: 18px;
        max-width: 511px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 18px;

        p {
            margin-bottom: 10px;
        }
    }

    &__life {
        font-size: 18px;
        color: red;
    }
}

.quize {
    display: none;

    .container {
        width: 100%;
    }

    &__progressbar {
        position: absolute;
        top: 0;
        padding: 2px;
        width: 100%;
        height: 14px;
        background-color: $white;
        border-radius: 12px;
        border: 1px solid black;
    }

    &__progressbar-fill {
        width: 0;
        height: 100%;
        border-radius: 12px;
        background-color: $quizeGreen;
    }

    &__progressbar-percent {
        position: absolute;
        top: 0;
        left: 50%;
    }

    &__flag {
	    position: relative;
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 642px;
        height: 288px;
        background-color: transparentize($white, 0.1);
        border-radius: 12px;
    }

    &__flag-img {
        width: 402px;
        height: 211px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/dist/flags/USA.svg");
        border-radius: 8px;
    }

    &__flag-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }

    &__lifes {
        display: flex;
        align-items: center;
        font-size: 40px;
        color: red;
        text-shadow: 0 0 1px black;
    }

    &__life {
        margin-right: 12px;
        transition: .4s;
    }

    &__life:hover {
        color: #dd0000;
        transform: scale(1.25);
    }

    &__time {
        font-size: 24px;
        line-height: 28px;
        color: $white;
    }

    &__time-field {
    }

    &__tip {
        cursor: pointer;
        transition: .4s;
    }

    &__tip:hover {
        transform: scale(0.85);
    }

    &__finish-game {
        display: none;
        grid-column: 2;
        margin-left: auto;
        cursor: pointer;
        transition: .4s;
    }

    &__finish-game {
        transform: translateX(10px);
    }

    // &__next-question:hover {
    //     fill: rgb(88, 129, 175) !important;
    //     transform: translate(1.5);
    // }
}
.answers {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 60px 75px 75px 1fr;
	gap: 20px;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: $white;
        font-size: 32px;
        line-height: 37px;
        width: 310px;
        height: 74px;
        background-color: $quizeOrange;
        border-radius: 8px;
        transition: .4s;
        cursor: pointer;
    }

    &__item:hover {
        background-color: $quizeOrangeHover;
        box-shadow: 1px 1px rgba(0, 0, 0, 0.747)
    }

    .asd {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.answers-items {
}

.stats {
    display: none;
    justify-content: center;
    &__inner {
        padding: 3.5rem 1rem 0 1rem;
        margin: 150px 0;
        width: 80vw;
        height: 600px;
        background-color: $white;
        border-radius: 12px;
    }

    .show {
        display: flex;
        flex-direction: column;
      }
      
      .hide {
        display: none;
      }

    .info {
        height: 100%;
        &__header {
            display: flex;
            margin-bottom: 50px;

            li {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25%;
                height: 42px;
                font-size: 18px;
                border: 1px solid black;
                cursor: pointer;
                transition: .4s;

                i {
                    margin-left: 10px;
                }

                @keyframes AddUnderlineTab {
                    0% {
                        width: 0;
                    }

                    100% {
                        width: 100%
                    }
                }

                @keyframes removeUnderlineTab {
                    0% {
                        width: 100%;
                    }

                    100% {
                        width: 0;
                    }
                }

                .header-tab__current-element {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 4px;
                    background: darkblue;
                }
            }

            li:hover {
                background-color: #f6f6f6;
            }
        }

        &__tab-content {
            border: 1px solid black;

            h3 {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 40px;
            }
        }
    }

}


@media screen and(max-width: 662px) {
    .quize {
        .container {
            width: 99%;
        }

        &__flag {
            width: 100%;
            height: 268px;
        }

        &__flag-img {
            width: 392px;
            height: 201px;
        }

        &__time {
            font-size: 22px;
        }
    }

    .answers {
        gap: 15px;
        &__item {
            width: 290px;
            height: 65px;
            font-size: 24px;
        }
    }

    .stats {
        .info {
            &__header {
                flex-direction: column;
                li {
                    width: 100%;
                }
            }
        }        
    }

}

@media screen and(max-width: 595px) {
    .quize {
        .container {
            width: 95vw;
        }

        &__flag-title {
            font-size: 22px;
        }
    }

    .answers {
        &__item {
            width: 100%;
            font-size: 21px;
        }
    }

    .stats {
        &__inner {
            width: 90vw;
        }
    }
}

@media screen and(max-width: 450px) {
    .quize {
        &__flag-img {
            width: 330px;
            height: 175px;
        }

        &__next-question {
            grid-column: 1;
        }
    }

    .answers {
        grid-template-rows: 60px repeat(5, 75px) 1fr;
        grid-template-columns: 1fr;
    }

    .asd {
        justify-content: flex-start;
    }
}

@media screen and(max-width: 360px) {
    .quize {
        &__flag-img {
            width: 300px;
            height: 158px;
        }

        &__flag-title {
            font-size: 19px;
        }
    }
}

@media screen and(max-width: 320px) {
    .quize__flag-img {
        width: 290px;
        height: 150px;
    }
}