$backgroundMain: #FBFAF8;
$darkBackground: #22AAA1;
$white: #ffffff;
$headerLinkHover: #009688;
$quizBackground: #0A81D1;
$quizGreen: #48E445;
$quizOrange: #FFB800;
$quizOrangeHover: #ff8800;
$mainFont: Roboto, Arial, sans-serif;