$backgroundMain: #FBFAF8;
$darkBackground: #22AAA1;
$white: #ffffff;
$headerLinkHover: #009688;
$quizeBackground: #0A81D1;
$quizeGreen: #48E445;
$quizeOrange: #FFB800;
$quizeOrangeHover: #ff8800;
$mainFont: Roboto, Arial, sans-serif;